Repository ArianSung/PCB_Detect_Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @팀리더, @flask팀원1, @flask팀원2, @ai모델팀원1, @ai모델팀원2, @라즈베리파이팀원1, @라즈베리파이팀원2, @csharp팀원1, @csharp팀원2

.github/CODEOWNERS:

# CODEOWNERS - PCB 불량 검사 시스템
# 각 디렉토리별 담당 팀원 지정
# 형식: 경로 @github사용자명1 @github사용자명2

# 전체 프로젝트 리드 (모든 PR 리뷰 필요)
* @팀리더

# Flask 서버 및 추론 엔진 (Flask 팀 2명)
/src/server/ @flask팀원1 @flask팀원2
/src/inference/ @flask팀원1 @flask팀원2

# AI 모델 학습 및 평가 (AI 모델 팀 2명)
/src/models/ @ai모델팀원1 @ai모델팀원2
/src/training/ @ai모델팀원1 @ai모델팀원2
/src/evaluation/ @ai모델팀원1 @ai모델팀원2
/configs/yolo_config.yaml @ai모델팀원1 @ai모델팀원2

# 라즈베리파이 클라이언트 및 GPIO (라즈베리파이 팀 2명)
/raspberry_pi/ @라즈베리파이팀원1 @라즈베리파이팀원2
/configs/camera_config.yaml @라즈베리파이팀원1 @라즈베리파이팀원2

# C# WinForms 모니터링 앱 (C# 팀 1~2명)
/csharp_winforms/ @csharp팀원1 @csharp팀원2

# 데이터베이스 스키마 (Flask 팀 또는 공통)
/database/ @flask팀원1 @flask팀원2

# API 계약 및 공통 설정 (전체 팀 리뷰 필요)
/docs/API_Contract.md @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
/configs/server_config.yaml @flask팀원1 @flask팀원2

# 문서 (해당 분야 담당자)
/docs/Flask_Server_Setup.md @flask팀원1
/docs/RaspberryPi_Setup.md @라즈베리파이팀원1
/docs/CSharp_WinForms_Guide.md @csharp팀원1
/docs/Dataset_Guide.md @ai모델팀원1
/docs/Phase1_YOLO_Setup.md @ai모델팀원1

# 설정 파일 템플릿 (전체 팀 알림 필요)
**/.env.example @팀리더 @flask팀원1 @라즈베리파이팀원1 @csharp팀원1

유저 매니지먼트 사용자 추가 만들기
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Repositories/UserRepository.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/RepositoriesDB.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.resx
Owners: @csharp팀원1, @csharp팀원2

로그인DB, 대시보드DB, 통계DB 연동
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
Owners: @csharp팀원1, @csharp팀원2

로그인DB, 대시보드DB, 통계DB 연동
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
Owners: @csharp팀원1, @csharp팀원2

수정중
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/UM_eye_close.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/UM_eye_open.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
Owners: @csharp팀원1, @csharp팀원2

수정중
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/UM_eye_close.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/UM_eye_open.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
Owners: @csharp팀원1, @csharp팀원2

통계끝 엑셀내보내기 박스모니터링 완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
Owners: @csharp팀원1, @csharp팀원2

통계끝 엑셀내보내기 박스모니터링 완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
Owners: @csharp팀원1, @csharp팀원2

dafsdsaf
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
Owners: @csharp팀원1, @csharp팀원2

dafsdsaf
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
Owners: @csharp팀원1, @csharp팀원2

feat(csharp): PCB 모니터링 화면에 실시간 YOLO 검출 영상 추가
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MJPEGStreamReader.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

feat(csharp): PCB 모니터링 화면에 실시간 YOLO 검출 영상 추가
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MJPEGStreamReader.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): PCBMonitoringView 픽쳐박스 이름 및 Dispose 중복 오류 수정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): PCBMonitoringView 픽쳐박스 이름 및 Dispose 중복 오류 수정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): 좌측 카메라 표시 문제 진단을 위한 디버깅 로그 추가 및 메모리 관리 개선
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MJPEGStreamReader.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): 좌측 카메라 표시 문제 진단을 위한 디버깅 로그 추가 및 메모리 관리 개선
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MJPEGStreamReader.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

asdf
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

asdf
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(server): Force Baseline JPEG encoding for C# Image.FromStream() compatibility
  server/app.py
  server/test_server.py
Owners: @팀리더

fix(csharp): 바운딩 박스 많을 때 WinForms UI 멈춤 현상 해결
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): 바운딩 박스 많을 때 WinForms UI 멈춤 현상 해결
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

메인 로그인 완성 / 유저 설정 추가 수정 삭제 비밀번호 초기화 끝
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Repositories/UserRepository.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
Owners: @csharp팀원1, @csharp팀원2

메인 로그인 완성 / 유저 설정 추가 수정 삭제 비밀번호 초기화 끝
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Repositories/UserRepository.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
Owners: @csharp팀원1, @csharp팀원2

docs: 담당 업무 프레젠테이션 추가 (YOLO, Flask, Database)
  docs/담당업무_YOLO_Flask_Database.pptx
Owners: @팀리더

feat(flask): WebSocket 기반 실시간 프레임 전송 구현
  CLAUDE.md
  docs/CSharp_WinForms_Guide.md
  docs/Flask_Server_Setup.md
  docs/PCB_Defect_Detection_Project.md
  requirements.txt
  server/app.py
Owners: @팀리더, @csharp팀원1, @flask팀원1

feat(csharp): WebSocket 기반 실시간 프레임 수신 구현
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  docs/CSharp_WinForms_Guide.md
Owners: @csharp팀원1, @csharp팀원2

feat(csharp): WebSocket 기반 실시간 프레임 수신 구현
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  docs/CSharp_WinForms_Guide.md
Owners: @csharp팀원1, @csharp팀원2

nuget
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
Owners: @csharp팀원1, @csharp팀원2

nuget
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): SocketIO 클래스 네임스페이스 충돌 해결
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  docs/CSharp_WinForms_Guide.md
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): SocketIO 클래스 네임스페이스 충돌 해결
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  docs/CSharp_WinForms_Guide.md
Owners: @csharp팀원1, @csharp팀원2

SS
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

SS
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(flask): WebSocket 프레임을 Base64로 인코딩하여 전송 (C# 호환성)
  server/app.py
Owners: @팀리더

fix(csharp): Base64 디코딩으로 WebSocket 프레임 수신 수정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  docs/CSharp_WinForms_Guide.md
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): Base64 디코딩으로 WebSocket 프레임 수신 수정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  docs/CSharp_WinForms_Guide.md
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): SocketIOClient API 올바른 사용법으로 수정 (DTO 패턴)
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  docs/CSharp_WinForms_Guide.md
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): SocketIOClient API 올바른 사용법으로 수정 (DTO 패턴)
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  docs/CSharp_WinForms_Guide.md
Owners: @csharp팀원1, @csharp팀원2

debug(csharp): WebSocket 연결 상세 디버깅 로그 추가
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

debug(csharp): WebSocket 연결 상세 디버깅 로그 추가
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

ddd
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2
