Repository ArianSung/PCB_Detect_Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @팀리더, @flask팀원1, @flask팀원2, @ai모델팀원1, @ai모델팀원2, @라즈베리파이팀원1, @라즈베리파이팀원2, @csharp팀원1, @csharp팀원2

docs: Sync docs folder from main branch
  docs/GPU_Memory_Optimization_Guide.md
  docs/Roboflow_Labeling_Guide.md
  docs/Serial_Number_Detection_Guide.md
Owners: @팀리더

docs: Sync docs folder from main branch
  docs/GPU_Memory_Optimization_Guide.md
  docs/Roboflow_Labeling_Guide.md
  docs/Serial_Number_Detection_Guide.md
Owners: @팀리더

docs: Sync docs folder from main branch
  docs/GPU_Memory_Optimization_Guide.md
  docs/Roboflow_Labeling_Guide.md
  docs/Serial_Number_Detection_Guide.md
Owners: @팀리더

docs: Sync docs folder from main branch
  docs/GPU_Memory_Optimization_Guide.md
  docs/Roboflow_Labeling_Guide.md
  docs/Serial_Number_Detection_Guide.md
Owners: @팀리더

docs: Sync docs folder from main branch
  docs/GPU_Memory_Optimization_Guide.md
  docs/Roboflow_Labeling_Guide.md
  docs/Serial_Number_Detection_Guide.md
Owners: @팀리더

docs: Update API specification and add Raspberry Pi development guide
  docs/API_Contract.md
  raspberry_pi/TEAM_HANDOFF.md
Owners: @flask팀원1, @라즈베리파이팀원1, @csharp팀원1, @라즈베리파이팀원2

feat: Add webcam streaming test environment for Raspberry Pi team
  raspberry_pi/TEAM_HANDOFF.md
  raspberry_pi/test_webcam_stream.py
  server/app.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2, @팀리더

add raspberry_pi test
  raspberry_pi/test/app.py
  raspberry_pi/test/test.py
  raspberry_pi/test/test_frame.jpg
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat: Add configurable FPS option to webcam streaming client
  raspberry_pi/test_webcam_stream.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

fix: Improve argparse interface for webcam streaming client
  raspberry_pi/test_webcam_stream.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat: 실시간 YOLO 어노테이션 영상 스트리밍 시스템 구현
  docs/API_Contract.md
  docs/CSharp_WinForms_Design_Specification.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  raspberry_pi/dual_purpose_client.py
  server/app.py
Owners: @flask팀원1, @라즈베리파이팀원1, @csharp팀원1, @팀리더, @라즈베리파이팀원2

통계 부분 완성 후 모니터링 뼈대 완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/UiStyleHelper.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/MainStatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

통계 부분 완성 후 모니터링 뼈대 완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/UiStyleHelper.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/MainStatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

검사 이력 조회 완성
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/UiStyleHelper.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

검사 이력 조회 완성
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/UiStyleHelper.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

docs: 데이터셋 수집 방식을 자체 촬영으로 전면 변경
  CLAUDE.md
  docs/API_Contract.md
  docs/CSharp_WinForms_Design_Specification.md
  docs/Dataset_Guide.md
  docs/Document_Update_Plan.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/GPU_Memory_Optimization_Guide.md
  docs/MySQL_Database_Design.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/RaspberryPi_Setup.md
  docs/YOLO_Training_Guide.md
Owners: @팀리더, @flask팀원1, @라즈베리파이팀원1, @csharp팀원1, @ai모델팀원1

모니터링 틀 대충
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

모니터링 틀 대충
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

매니지먼트완성
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

매니지먼트완성
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

모니터링 완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainBoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainBoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainBoxMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainPCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainPCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainPCBMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine2.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine2.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine2.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine3.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine3.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine3.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

모니터링 완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainBoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainBoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainBoxMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainPCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainPCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainPCBMonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringMainView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine2.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine2.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine2.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine3.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine3.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBLine3.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

refactor: Update C# WinForms monitoring views and UI styling
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/UiStyleHelper.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainBoxMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

tnwjd
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

tnwjd
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/LineMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

라벨 이름 변경
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/AlertFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/InspectionFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/UserLogFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Alert.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/BoxStatus.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/DefectDetail.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/DefectRateHistory.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Inspection.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/OHTOperation.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Statistics.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/User.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/UserLog.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
Owners: @csharp팀원1, @csharp팀원2

라벨 이름 변경
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/AlertFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/InspectionFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/UserLogFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Alert.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/BoxStatus.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/DefectDetail.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/DefectRateHistory.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Inspection.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/OHTOperation.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Statistics.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/User.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/UserLog.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
Owners: @csharp팀원1, @csharp팀원2

텍스트박스 삭제
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
Owners: @csharp팀원1, @csharp팀원2

텍스트박스 삭제
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
Owners: @csharp팀원1, @csharp팀원2

feat(server): Add real-time camera viewer and test endpoint
  server/app.py
Owners: @팀리더

feat(raspberry-pi): Add camera client and setup automation
  raspberry_pi/README.md
  raspberry_pi/camera_client.py
  raspberry_pi/oht_controller.py
  raspberry_pi/requirements.txt
  raspberry_pi/setup_venv.sh
  raspberry_pi/test/app.py
  raspberry_pi/test/test.py
  raspberry_pi/test/test_frame.jpg
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(raspberry-pi): Add camera client and setup automation
  raspberry_pi/README.md
  raspberry_pi/camera_client.py
  raspberry_pi/oht_controller.py
  raspberry_pi/requirements.txt
  raspberry_pi/setup_venv.sh
  raspberry_pi/test/app.py
  raspberry_pi/test/test.py
  raspberry_pi/test/test_frame.jpg
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

chore: Update .gitignore and GPU memory documentation
  .gitignore
  docs/GPU_Memory_Optimization_Guide.md
Owners: @팀리더

chore: Update .gitignore and GPU memory documentation
  .gitignore
  docs/GPU_Memory_Optimization_Guide.md
Owners: @팀리더

feat(server): Integrate YOLO model for PCB defect detection
  server/app.py
Owners: @팀리더

fix(server): 실시간 뷰어 깜빡거림 해결 및 PCB ROI 감지 추가
  server/app.py
Owners: @팀리더

feat(raspberry-pi): 카메라 노출 및 밝기 수동 제어 추가
  raspberry_pi/camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(raspberry-pi): 카메라 노출 및 밝기 수동 제어 추가
  raspberry_pi/camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

chore(server): ROI 기능 비활성화 (암막 준비 후 재활성화 예정)
  server/app.py
Owners: @팀리더

유저 매니지먼트 사용자 추가 만들기
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Repositories/UserRepository.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/RepositoriesDB.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.resx
Owners: @csharp팀원1, @csharp팀원2

.github/CODEOWNERS:

# CODEOWNERS - PCB 불량 검사 시스템
# 각 디렉토리별 담당 팀원 지정
# 형식: 경로 @github사용자명1 @github사용자명2

# 전체 프로젝트 리드 (모든 PR 리뷰 필요)
* @팀리더

# Flask 서버 및 추론 엔진 (Flask 팀 2명)
/src/server/ @flask팀원1 @flask팀원2
/src/inference/ @flask팀원1 @flask팀원2

# AI 모델 학습 및 평가 (AI 모델 팀 2명)
/src/models/ @ai모델팀원1 @ai모델팀원2
/src/training/ @ai모델팀원1 @ai모델팀원2
/src/evaluation/ @ai모델팀원1 @ai모델팀원2
/configs/yolo_config.yaml @ai모델팀원1 @ai모델팀원2

# 라즈베리파이 클라이언트 및 GPIO (라즈베리파이 팀 2명)
/raspberry_pi/ @라즈베리파이팀원1 @라즈베리파이팀원2
/configs/camera_config.yaml @라즈베리파이팀원1 @라즈베리파이팀원2

# C# WinForms 모니터링 앱 (C# 팀 1~2명)
/csharp_winforms/ @csharp팀원1 @csharp팀원2

# 데이터베이스 스키마 (Flask 팀 또는 공통)
/database/ @flask팀원1 @flask팀원2

# API 계약 및 공통 설정 (전체 팀 리뷰 필요)
/docs/API_Contract.md @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
/configs/server_config.yaml @flask팀원1 @flask팀원2

# 문서 (해당 분야 담당자)
/docs/Flask_Server_Setup.md @flask팀원1
/docs/RaspberryPi_Setup.md @라즈베리파이팀원1
/docs/CSharp_WinForms_Guide.md @csharp팀원1
/docs/Dataset_Guide.md @ai모델팀원1
/docs/Phase1_YOLO_Setup.md @ai모델팀원1

# 설정 파일 템플릿 (전체 팀 알림 필요)
**/.env.example @팀리더 @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
