Repository ArianSung/PCB_Detect_Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @팀리더, @flask팀원1, @flask팀원2, @ai모델팀원1, @ai모델팀원2, @라즈베리파이팀원1, @라즈베리파이팀원2, @csharp팀원1, @csharp팀원2

ddd
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(flask): 필드명 변경으로 binary 자동 변환 방지 (frame → frameData)
  server/app.py
Owners: @팀리더

vcvcx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
Owners: @csharp팀원1, @csharp팀원2

vcvcx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): 필드명 변경으로 Flask 서버와 일치 (frame → frameData)
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  docs/CSharp_WinForms_Guide.md
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): 필드명 변경으로 Flask 서버와 일치 (frame → frameData)
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  docs/CSharp_WinForms_Guide.md
Owners: @csharp팀원1, @csharp팀원2

debug: 상세한 디버깅 로그 추가
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

debug: 상세한 디버깅 로그 추가
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): 바운딩 박스 많을 때 UI 멈춤 방지 (프레임 드롭 재적용)
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  server/app.py
Owners: @csharp팀원1, @csharp팀원2, @팀리더

fix(csharp): 바운딩 박스 많을 때 UI 멈춤 방지 (프레임 드롭 재적용)
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  server/app.py
Owners: @csharp팀원1, @csharp팀원2, @팀리더

perf(csharp): Zoom 스무딩 비활성화로 UI 성능 대폭 개선
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

perf(csharp): Zoom 스무딩 비활성화로 UI 성능 대폭 개선
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): 프레임 요청 속도 조절로 지연 및 멈춤 해결
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): 프레임 요청 속도 조절로 지연 및 멈춤 해결
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

술정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

술정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

fix(flask): eventlet 모드로 전환하여 소켓 누수 문제 해결
  requirements.txt
  server/app.py
Owners: @팀리더

fix(camera): 카메라 해상도를 640x640으로 변경 (찌부러짐 해결)
  raspberry_pi/camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

fix(camera): 카메라 해상도를 640x640으로 변경 (찌부러짐 해결)
  raspberry_pi/camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

size repair
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

size repair
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

feat(server): 640x480 프레임을 640x640으로 중앙 크롭 처리
  server/app.py
Owners: @팀리더

perf(server): WebSocket 프레임 전송 성능 최적화 (JPEG 캐싱)
  server/app.py
Owners: @팀리더

perf(raspberry-pi): FPS 10 → 30으로 증가 (성능 테스트)
  raspberry_pi/camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

perf(raspberry-pi): FPS 10 → 30으로 증가 (성능 테스트)
  raspberry_pi/camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

perf(csharp): WinForms 프레임 요청 간격 10 FPS → 30 FPS (33ms)
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

perf(csharp): WinForms 프레임 요청 간격 10 FPS → 30 FPS (33ms)
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

perf(csharp): WinForms 프레임 요청 간격 10 FPS → 30 FPS (33ms)
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

perf(csharp): WinForms 프레임 요청 간격 10 FPS → 30 FPS (33ms)
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(flask-server): YOLO 모델 경로 수정으로 로드 실패 해결
  server/app.py
Owners: @팀리더

fix(flask-server): eventlet → threading 모드 변경으로 segfault 해결
  server/app.py
Owners: @팀리더

feat(flask-server): PCB 컴포넌트 위치 검증 시스템 구현
  raspberry_pi/capture_reference_pcb.py
  server/app.py
  server/component_verification.py
  server/pcb_alignment.py
  tools/generate_reference_data.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2, @팀리더

feat(raspberry-pi): GUI 프리뷰 및 원격 접속 지원 추가
  raspberry_pi/capture_reference_pcb.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(raspberry-pi): GUI 프리뷰 및 원격 접속 지원 추가
  raspberry_pi/capture_reference_pcb.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(raspberry-pi): 카메라 파라미터 실시간 조정 기능 추가
  raspberry_pi/capture_reference_pcb.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(raspberry-pi): 카메라 파라미터 실시간 조정 기능 추가
  raspberry_pi/capture_reference_pcb.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

fix(raspberry-pi): 트랙바 이미지 조정을 소프트웨어 후처리로 변경
  raspberry_pi/capture_reference_pcb.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

fix(raspberry-pi): 트랙바 이미지 조정을 소프트웨어 후처리로 변경
  raspberry_pi/capture_reference_pcb.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

fix(tools): NumPy int64 타입을 JSON serializable하도록 수정
  server/reference_data/reference_left.json
  tools/generate_reference_data.py
Owners: @팀리더

fix(tools): NumPy int64 타입을 JSON serializable하도록 수정
  server/reference_data/reference_left.json
  tools/generate_reference_data.py
Owners: @팀리더

.github/CODEOWNERS:

# CODEOWNERS - PCB 불량 검사 시스템
# 각 디렉토리별 담당 팀원 지정
# 형식: 경로 @github사용자명1 @github사용자명2

# 전체 프로젝트 리드 (모든 PR 리뷰 필요)
* @팀리더

# Flask 서버 및 추론 엔진 (Flask 팀 2명)
/src/server/ @flask팀원1 @flask팀원2
/src/inference/ @flask팀원1 @flask팀원2

# AI 모델 학습 및 평가 (AI 모델 팀 2명)
/src/models/ @ai모델팀원1 @ai모델팀원2
/src/training/ @ai모델팀원1 @ai모델팀원2
/src/evaluation/ @ai모델팀원1 @ai모델팀원2
/configs/yolo_config.yaml @ai모델팀원1 @ai모델팀원2

# 라즈베리파이 클라이언트 및 GPIO (라즈베리파이 팀 2명)
/raspberry_pi/ @라즈베리파이팀원1 @라즈베리파이팀원2
/configs/camera_config.yaml @라즈베리파이팀원1 @라즈베리파이팀원2

# C# WinForms 모니터링 앱 (C# 팀 1~2명)
/csharp_winforms/ @csharp팀원1 @csharp팀원2

# 데이터베이스 스키마 (Flask 팀 또는 공통)
/database/ @flask팀원1 @flask팀원2

# API 계약 및 공통 설정 (전체 팀 리뷰 필요)
/docs/API_Contract.md @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
/configs/server_config.yaml @flask팀원1 @flask팀원2

# 문서 (해당 분야 담당자)
/docs/Flask_Server_Setup.md @flask팀원1
/docs/RaspberryPi_Setup.md @라즈베리파이팀원1
/docs/CSharp_WinForms_Guide.md @csharp팀원1
/docs/Dataset_Guide.md @ai모델팀원1
/docs/Phase1_YOLO_Setup.md @ai모델팀원1

# 설정 파일 템플릿 (전체 팀 알림 필요)
**/.env.example @팀리더 @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
