Repository ArianSung/PCB_Detect_Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @팀리더, @flask팀원1, @flask팀원2, @ai모델팀원1, @ai모델팀원2, @라즈베리파이팀원1, @라즈베리파이팀원2, @csharp팀원1, @csharp팀원2

feat(DatabaseManager): Add defect_details and box_status_history support
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/BoxStatusHistory.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/DefectDetail.cs
Owners: @csharp팀원1, @csharp팀원2

feat(DatabaseManager): Add defect_details and box_status_history support
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/BoxStatusHistory.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/DefectDetail.cs
Owners: @csharp팀원1, @csharp팀원2

refactor(schema): Replace box_status_history with defect_rate_history
  database/schema.sql
Owners: @flask팀원1, @flask팀원2

refactor(DatabaseManager): Replace BoxStatusHistory with DefectRateHistory
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/BoxStatusHistory.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/DefectRateHistory.cs
Owners: @csharp팀원1, @csharp팀원2

refactor(DatabaseManager): Replace BoxStatusHistory with DefectRateHistory
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/BoxStatusHistory.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/DefectRateHistory.cs
Owners: @csharp팀원1, @csharp팀원2

디자인 그림자 추가
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Main_user_background.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Main_user_background_gray.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Main_user_user_white.png
Owners: @csharp팀원1, @csharp팀원2

디자인 그림자 추가
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Main_user_background.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Main_user_background_gray.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Main_user_user_white.png
Owners: @csharp팀원1, @csharp팀원2

대시보드 UI 구현 완
  .claude/settings.local.json
  csharp_winforms/pcb_monitoring_program/.env.example
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/PCBBackEx.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/PCBFrontEx.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
Owners: @팀리더, @flask팀원1, @라즈베리파이팀원1, @csharp팀원1, @csharp팀원2

대시보드 UI 구현 완
  .claude/settings.local.json
  csharp_winforms/pcb_monitoring_program/.env.example
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/PCBBackEx.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/PCBFrontEx.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
Owners: @팀리더, @flask팀원1, @라즈베리파이팀원1, @csharp팀원1, @csharp팀원2

오류 수정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

오류 수정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

이벤트 삭제
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
Owners: @csharp팀원1, @csharp팀원2

이벤트 삭제
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
Owners: @csharp팀원1, @csharp팀원2

docs: Update documentation with YOLOv11m migration changes from main
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
Owners: @팀리더, @ai모델팀원1, @flask팀원1

docs: Update documentation with YOLOv11m migration changes from main
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
Owners: @팀리더, @ai모델팀원1, @flask팀원1

docs: Update documentation with YOLOv11m migration changes from main
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
Owners: @팀리더, @ai모델팀원1, @flask팀원1

docs: Update documentation with YOLOv11m migration changes from main
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
Owners: @팀리더, @ai모델팀원1, @flask팀원1

docs: Update documentation with YOLOv11m migration changes from main
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
Owners: @팀리더, @ai모델팀원1, @flask팀원1

docs: Update documentation with YOLOv11m migration changes from main
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
Owners: @팀리더, @ai모델팀원1, @flask팀원1

refactor: Migrate from YOLOv11m to YOLOv11l (Large model)
  CLAUDE.md
  PROJECT_STRUCTURE.md
  README.md
  configs/yolo_config.yaml
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
  scripts/train_base_model.sh
  scripts/train_component_model.sh
  scripts/train_component_model_optimized.sh
  scripts/train_final_optimized.sh
  scripts/train_solder_model.sh
  scripts/train_solder_model_optimized.sh
  scripts/train_throughhole_18classes.sh
  scripts/train_unified_component_model.sh
  scripts/train_yolo.sh
  yolo/GETTING_STARTED.md
  yolo/README.md
  yolo/train_yolo.py
  yolo/train_yolo_improved.py
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2, @flask팀원1

docs: Update to YOLOv11l (Large model) from main
  CLAUDE.md
  PROJECT_STRUCTURE.md
  README.md
  configs/yolo_config.yaml
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
  scripts/download_pcb_dataset.sh
  scripts/download_roboflow_dataset.py
  scripts/monitor_training.py
  scripts/monitor_training_simple.sh
  scripts/train_base_model.sh
  scripts/train_component_model.sh
  scripts/train_component_model_optimized.sh
  scripts/train_final_optimized.sh
  scripts/train_solder_model.sh
  scripts/train_solder_model_optimized.sh
  scripts/train_throughhole_18classes.sh
  scripts/train_unified_component_model.sh
  scripts/train_yolo.sh
  scripts/watch_training.sh
  yolo/GETTING_STARTED.md
  yolo/README.md
  yolo/train_yolo.py
  yolo/train_yolo_improved.py
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2, @flask팀원1

docs: Update to YOLOv11l (Large model) from main
  CLAUDE.md
  PROJECT_STRUCTURE.md
  README.md
  configs/yolo_config.yaml
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
  scripts/train_base_model.sh
  scripts/train_component_model.sh
  scripts/train_component_model_optimized.sh
  scripts/train_final_optimized.sh
  scripts/train_solder_model.sh
  scripts/train_solder_model_optimized.sh
  scripts/train_throughhole_18classes.sh
  scripts/train_unified_component_model.sh
  scripts/train_yolo.sh
  yolo/GETTING_STARTED.md
  yolo/README.md
  yolo/train_yolo.py
  yolo/train_yolo_improved.py
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2, @flask팀원1

docs: Update to YOLOv11l (Large model) from main
  CLAUDE.md
  PROJECT_STRUCTURE.md
  README.md
  configs/yolo_config.yaml
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
  scripts/download_pcb_dataset.sh
  scripts/download_roboflow_dataset.py
  scripts/monitor_training.py
  scripts/monitor_training_simple.sh
  scripts/train_base_model.sh
  scripts/train_component_model.sh
  scripts/train_component_model_optimized.sh
  scripts/train_final_optimized.sh
  scripts/train_solder_model.sh
  scripts/train_solder_model_optimized.sh
  scripts/train_throughhole_18classes.sh
  scripts/train_unified_component_model.sh
  scripts/train_yolo.sh
  scripts/watch_training.sh
  yolo/GETTING_STARTED.md
  yolo/README.md
  yolo/train_yolo.py
  yolo/train_yolo_improved.py
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2, @flask팀원1

docs: Update to YOLOv11l (Large model) from main
  CLAUDE.md
  PROJECT_STRUCTURE.md
  README.md
  configs/yolo_config.yaml
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
  scripts/download_pcb_dataset.sh
  scripts/download_roboflow_dataset.py
  scripts/monitor_training.py
  scripts/monitor_training_simple.sh
  scripts/train_base_model.sh
  scripts/train_component_model.sh
  scripts/train_component_model_optimized.sh
  scripts/train_final_optimized.sh
  scripts/train_solder_model.sh
  scripts/train_solder_model_optimized.sh
  scripts/train_throughhole_18classes.sh
  scripts/train_unified_component_model.sh
  scripts/train_yolo.sh
  scripts/watch_training.sh
  yolo/GETTING_STARTED.md
  yolo/README.md
  yolo/train_yolo.py
  yolo/train_yolo_improved.py
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2, @flask팀원1

docs: Update to YOLOv11l (Large model) from main
  CLAUDE.md
  PROJECT_STRUCTURE.md
  README.md
  configs/yolo_config.yaml
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
  scripts/download_pcb_dataset.sh
  scripts/download_roboflow_dataset.py
  scripts/monitor_training.py
  scripts/monitor_training_simple.sh
  scripts/train_base_model.sh
  scripts/train_component_model.sh
  scripts/train_component_model_optimized.sh
  scripts/train_final_optimized.sh
  scripts/train_solder_model.sh
  scripts/train_solder_model_optimized.sh
  scripts/train_throughhole_18classes.sh
  scripts/train_unified_component_model.sh
  scripts/train_yolo.sh
  scripts/watch_training.sh
  yolo/GETTING_STARTED.md
  yolo/README.md
  yolo/train_yolo.py
  yolo/train_yolo_improved.py
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2, @flask팀원1

docs: Update to YOLOv11l (Large model) from main
  CLAUDE.md
  PROJECT_STRUCTURE.md
  README.md
  configs/yolo_config.yaml
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
  scripts/download_pcb_dataset.sh
  scripts/download_roboflow_dataset.py
  scripts/monitor_training.py
  scripts/monitor_training_simple.sh
  scripts/train_base_model.sh
  scripts/train_component_model.sh
  scripts/train_component_model_optimized.sh
  scripts/train_final_optimized.sh
  scripts/train_solder_model.sh
  scripts/train_solder_model_optimized.sh
  scripts/train_throughhole_18classes.sh
  scripts/train_unified_component_model.sh
  scripts/train_yolo.sh
  scripts/watch_training.sh
  yolo/GETTING_STARTED.md
  yolo/README.md
  yolo/train_yolo.py
  yolo/train_yolo_improved.py
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2, @flask팀원1

docs: Update to YOLOv11l (Large model) from main
  CLAUDE.md
  PROJECT_STRUCTURE.md
  README.md
  configs/yolo_config.yaml
  docs/Component_Solder_Dataset_Integration.md
  docs/Data_Collection_Guide_Simple.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/Kaggle_Setup_Guide.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/Training_Issue_Analysis_Report.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
  scripts/download_pcb_dataset.sh
  scripts/download_roboflow_dataset.py
  scripts/monitor_training.py
  scripts/monitor_training_simple.sh
  scripts/train_base_model.sh
  scripts/train_component_model.sh
  scripts/train_component_model_optimized.sh
  scripts/train_final_optimized.sh
  scripts/train_solder_model.sh
  scripts/train_solder_model_optimized.sh
  scripts/train_throughhole_18classes.sh
  scripts/train_unified_component_model.sh
  scripts/train_yolo.sh
  scripts/watch_training.sh
  yolo/GETTING_STARTED.md
  yolo/README.md
  yolo/train_yolo.py
  yolo/train_yolo_improved.py
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2, @flask팀원1

docs: Update VRAM usage to realistic values based on actual measurements
  CLAUDE.md
  configs/yolo_config.yaml
  docs/GPU_Memory_Optimization_Guide.md
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2

docs: Update VRAM usage to realistic values from main
  CLAUDE.md
  configs/yolo_config.yaml
  docs/GPU_Memory_Optimization_Guide.md
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2

docs: Update VRAM usage to realistic values from main
  CLAUDE.md
  configs/yolo_config.yaml
  docs/GPU_Memory_Optimization_Guide.md
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2

docs: Update VRAM usage to realistic values from main
  CLAUDE.md
  configs/yolo_config.yaml
  docs/GPU_Memory_Optimization_Guide.md
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2

docs: Update VRAM usage to realistic values from main
  CLAUDE.md
  configs/yolo_config.yaml
  docs/GPU_Memory_Optimization_Guide.md
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2

docs: Update VRAM usage to realistic values from main
  CLAUDE.md
  configs/yolo_config.yaml
  docs/GPU_Memory_Optimization_Guide.md
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2

docs: Update VRAM usage to realistic values from main
  CLAUDE.md
  configs/yolo_config.yaml
  docs/GPU_Memory_Optimization_Guide.md
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2

docs: Update VRAM usage to realistic values from main
  CLAUDE.md
  configs/yolo_config.yaml
  docs/GPU_Memory_Optimization_Guide.md
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2

통계메인구성완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/UiStyleHelper.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/MainStatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/MainStatisticsView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/MainStatisticsView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

통계메인구성완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/UiStyleHelper.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/MainStatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/MainStatisticsView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/MainStatisticsView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

feat: Add serial number detection system and Roboflow PCB training utilities
  .gitignore
  SERIAL_NUMBER_SETUP_SUMMARY.md
  configs/class_weights.yaml
  configs/roboflow_pcb_training.yaml
  database/01_add_serial_number_to_inspections.sql
  database/02_create_pcb_products_table.sql
  docs/GPU_Memory_Optimization_Guide.md
  docs/Roboflow_Labeling_Guide.md
  docs/Serial_Number_Detection_Guide.md
  scripts/balance_dataset.py
  scripts/calculate_class_weights.py
  scripts/download_roboflow_dataset.py
  scripts/monitor_gpu_simple.sh
  scripts/setup_serial_number_detection.sh
  scripts/test_yolo11l_vram.sh
  scripts/train_balanced_with_log.py
  scripts/train_balanced_with_log.sh
  scripts/train_roboflow_pcb.py
  scripts/train_serial_number_detector.py
  scripts/train_with_vram_monitor.py
  server/serial_number_detector.py
Owners: @팀리더, @flask팀원1, @flask팀원2

docs: Sync docs folder from main branch
  docs/GPU_Memory_Optimization_Guide.md
  docs/Roboflow_Labeling_Guide.md
  docs/Serial_Number_Detection_Guide.md
Owners: @팀리더

docs: Sync docs folder from main branch
  docs/GPU_Memory_Optimization_Guide.md
  docs/Roboflow_Labeling_Guide.md
  docs/Serial_Number_Detection_Guide.md
Owners: @팀리더

.github/CODEOWNERS:

# CODEOWNERS - PCB 불량 검사 시스템
# 각 디렉토리별 담당 팀원 지정
# 형식: 경로 @github사용자명1 @github사용자명2

# 전체 프로젝트 리드 (모든 PR 리뷰 필요)
* @팀리더

# Flask 서버 및 추론 엔진 (Flask 팀 2명)
/src/server/ @flask팀원1 @flask팀원2
/src/inference/ @flask팀원1 @flask팀원2

# AI 모델 학습 및 평가 (AI 모델 팀 2명)
/src/models/ @ai모델팀원1 @ai모델팀원2
/src/training/ @ai모델팀원1 @ai모델팀원2
/src/evaluation/ @ai모델팀원1 @ai모델팀원2
/configs/yolo_config.yaml @ai모델팀원1 @ai모델팀원2

# 라즈베리파이 클라이언트 및 GPIO (라즈베리파이 팀 2명)
/raspberry_pi/ @라즈베리파이팀원1 @라즈베리파이팀원2
/configs/camera_config.yaml @라즈베리파이팀원1 @라즈베리파이팀원2

# C# WinForms 모니터링 앱 (C# 팀 1~2명)
/csharp_winforms/ @csharp팀원1 @csharp팀원2

# 데이터베이스 스키마 (Flask 팀 또는 공통)
/database/ @flask팀원1 @flask팀원2

# API 계약 및 공통 설정 (전체 팀 리뷰 필요)
/docs/API_Contract.md @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
/configs/server_config.yaml @flask팀원1 @flask팀원2

# 문서 (해당 분야 담당자)
/docs/Flask_Server_Setup.md @flask팀원1
/docs/RaspberryPi_Setup.md @라즈베리파이팀원1
/docs/CSharp_WinForms_Guide.md @csharp팀원1
/docs/Dataset_Guide.md @ai모델팀원1
/docs/Phase1_YOLO_Setup.md @ai모델팀원1

# 설정 파일 템플릿 (전체 팀 알림 필요)
**/.env.example @팀리더 @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
