Repository ArianSung/PCB_Detect_Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @팀리더, @flask팀원1, @flask팀원2, @ai모델팀원1, @ai모델팀원2, @라즈베리파이팀원1, @라즈베리파이팀원2, @csharp팀원1, @csharp팀원2

feat(server): 새 YOLO v4 9클래스 모델 배포 및 OCR/검출 개선
  server/app.py
  server/serial_number_detector.py
Owners: @팀리더

feat(server): 템플릿 매칭 신뢰도 임계값 낮춤 (90% → 87%)
  server/app.py
Owners: @팀리더

feat(raspberry_pi): 카메라 클라이언트 대기 상태 표시 개선
  raspberry_pi/camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(server): EasyOCR을 PaddleOCR로 교체하여 OCR 성능 대폭 개선
  server/serial_number_detector.py
Owners: @팀리더

feat(server): EasyOCR 개선 - 고급 전처리 및 검출 파라미터 최적화
  server/serial_number_detector.py
Owners: @팀리더

fix(server): OCR 전처리 단순화 및 검출 파라미터 완화
  server/serial_number_detector.py
Owners: @팀리더

fix(server): OCR 전처리 완전 제거 및 정규식 패턴 대폭 완화
  server/serial_number_detector.py
Owners: @팀리더

fix(server): 연속된 0 인식 문제 해결 - 숫자 자릿수 유연화 및 자동 보정
  server/serial_number_detector.py
Owners: @팀리더

fix(server): 90도 회전 복구 - 원본 이미지가 회전되어 있음
  server/serial_number_detector.py
Owners: @팀리더

fix(server): OCR 오인식 패턴 처리 및 거짓 양성 방지
  server/serial_number_detector.py
Owners: @팀리더

feat(server): 제품별 부품 검증 워크플로우 구현 (v3.0)
  server/app.py
  server/db_manager.py
  server/predict_dual_v3.py
Owners: @팀리더

feat(server): 디버그 뷰어에 부품 검증 결과 표시 기능 추가
  server/app.py
Owners: @팀리더

feat(raspberry-pi): 양면 동시 촬영 클라이언트 추가
  raspberry_pi/.env.example
  raspberry_pi/dual_camera_client.py
Owners: @팀리더, @flask팀원1, @라즈베리파이팀원1, @csharp팀원1, @라즈베리파이팀원2

feat(raspberry-pi): 양면 동시 촬영 클라이언트 추가
  raspberry_pi/.env.example
  raspberry_pi/dual_camera_client.py
Owners: @팀리더, @flask팀원1, @라즈베리파이팀원1, @csharp팀원1, @라즈베리파이팀원2

feat(raspberry-pi): 양면 동시 촬영 클라이언트 추가 (from feature/raspberry-pi)
  raspberry_pi/.env.example
  raspberry_pi/dual_camera_client.py
Owners: @팀리더, @flask팀원1, @라즈베리파이팀원1, @csharp팀원1, @라즈베리파이팀원2

fix(raspberry-pi): Arduino 시리얼 핸들러 추가 (dual_camera_client.py 의존성)
  raspberry_pi/arduino_serial_handler.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(server): /predict_dual 엔드포인트 추가 (양면 동시 촬영 지원)
  server/app.py
Owners: @팀리더

feat(server): /predict_dual 실제 OCR 및 디버그 뷰어 통합 완료
  server/app.py
Owners: @팀리더

fix(server): latest_results['right'] 업데이트 및 ocr_result 초기화 추가
  server/app.py
Owners: @팀리더

fix(server): /predict_dual에 SocketIO frame_update 이벤트 추가
  server/app.py
Owners: @팀리더

fix(server): /predict_dual에 원래 기능 복원 (크롭, 템플릿, ROI, 박싱)
  server/app.py
Owners: @팀리더

fix(server): /predict_dual을 /predict_test와 완전히 동일하게 수정
  server/app.py
Owners: @팀리더

feat(server): OCR 전처리된 이미지를 디버그 뷰어에 표시
  server/app.py
  server/serial_number_detector.py
Owners: @팀리더

fix(server): OCR 이중 전처리 문제 해결
  server/serial_number_detector.py
Owners: @팀리더

feat(server): OCR 고급 전처리 파이프라인 복원
  server/serial_number_detector.py
Owners: @팀리더

fix(server): OCR 전처리 안정화 - 복잡한 필터 제거
  server/serial_number_detector.py
Owners: @팀리더

debug(server): OCR 처리에 예외 처리 및 상세 로깅 추가
  server/app.py
Owners: @팀리더

fix(server): NameError 수정 - detections를 boxes_data로 변경
  server/app.py
Owners: @팀리더

fix(server): OCR 회전 방향 수정 - 왼쪽 90도로 변경
  server/serial_number_detector.py
Owners: @팀리더

fix(server): OCR 이중 회전 문제 해결
  server/app.py
  server/serial_number_detector.py
Owners: @팀리더

feat(server): 디버그 뷰어에 OCR 정보 실시간 표시 기능 추가
  server/app.py
Owners: @팀리더

refactor(server): HTML 템플릿을 별도 파일로 분리
  server/app.py
  server/templates/debug_viewer.html
Owners: @팀리더

fix(server): render_template import 누락 수정
  server/app.py
Owners: @팀리더

feat(ocr): 시리얼 넘버 검출 정확도 개선 - OCR 후처리 강화
  server/serial_number_detector.py
Owners: @팀리더

feat(ocr): 텍스트 굵게 만들어 OCR 정확도 향상
  server/serial_number_detector.py
Owners: @팀리더

feat(ocr): 시리얼 넘버 숫자 오인식 문자 자동 교정
  server/serial_number_detector.py
Owners: @팀리더

feat(raspberry-pi): 좌우 카메라 개별 파라미터 설정 지원
  raspberry_pi/dual_camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(raspberry-pi): 좌우 카메라 개별 파라미터 설정 지원
  raspberry_pi/dual_camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

fix(raspberry-pi): v4l2로 모든 카메라 파라미터 설정하도록 수정
  raspberry_pi/dual_camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

fix(raspberry-pi): 자동 모드 강제 비활성화 및 에러 핸들링 개선
  raspberry_pi/dual_camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

.github/CODEOWNERS:

# CODEOWNERS - PCB 불량 검사 시스템
# 각 디렉토리별 담당 팀원 지정
# 형식: 경로 @github사용자명1 @github사용자명2

# 전체 프로젝트 리드 (모든 PR 리뷰 필요)
* @팀리더

# Flask 서버 및 추론 엔진 (Flask 팀 2명)
/src/server/ @flask팀원1 @flask팀원2
/src/inference/ @flask팀원1 @flask팀원2

# AI 모델 학습 및 평가 (AI 모델 팀 2명)
/src/models/ @ai모델팀원1 @ai모델팀원2
/src/training/ @ai모델팀원1 @ai모델팀원2
/src/evaluation/ @ai모델팀원1 @ai모델팀원2
/configs/yolo_config.yaml @ai모델팀원1 @ai모델팀원2

# 라즈베리파이 클라이언트 및 GPIO (라즈베리파이 팀 2명)
/raspberry_pi/ @라즈베리파이팀원1 @라즈베리파이팀원2
/configs/camera_config.yaml @라즈베리파이팀원1 @라즈베리파이팀원2

# C# WinForms 모니터링 앱 (C# 팀 1~2명)
/csharp_winforms/ @csharp팀원1 @csharp팀원2

# 데이터베이스 스키마 (Flask 팀 또는 공통)
/database/ @flask팀원1 @flask팀원2

# API 계약 및 공통 설정 (전체 팀 리뷰 필요)
/docs/API_Contract.md @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
/configs/server_config.yaml @flask팀원1 @flask팀원2

# 문서 (해당 분야 담당자)
/docs/Flask_Server_Setup.md @flask팀원1
/docs/RaspberryPi_Setup.md @라즈베리파이팀원1
/docs/CSharp_WinForms_Guide.md @csharp팀원1
/docs/Dataset_Guide.md @ai모델팀원1
/docs/Phase1_YOLO_Setup.md @ai모델팀원1

# 설정 파일 템플릿 (전체 팀 알림 필요)
**/.env.example @팀리더 @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
