Repository ArianSung/PCB_Detect_Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @팀리더, @flask팀원1, @flask팀원2, @ai모델팀원1, @ai모델팀원2, @라즈베리파이팀원1, @라즈베리파이팀원2, @csharp팀원1, @csharp팀원2

.github/CODEOWNERS:

# CODEOWNERS - PCB 불량 검사 시스템
# 각 디렉토리별 담당 팀원 지정
# 형식: 경로 @github사용자명1 @github사용자명2

# 전체 프로젝트 리드 (모든 PR 리뷰 필요)
* @팀리더

# Flask 서버 및 추론 엔진 (Flask 팀 2명)
/src/server/ @flask팀원1 @flask팀원2
/src/inference/ @flask팀원1 @flask팀원2

# AI 모델 학습 및 평가 (AI 모델 팀 2명)
/src/models/ @ai모델팀원1 @ai모델팀원2
/src/training/ @ai모델팀원1 @ai모델팀원2
/src/evaluation/ @ai모델팀원1 @ai모델팀원2
/configs/yolo_config.yaml @ai모델팀원1 @ai모델팀원2

# 라즈베리파이 클라이언트 및 GPIO (라즈베리파이 팀 2명)
/raspberry_pi/ @라즈베리파이팀원1 @라즈베리파이팀원2
/configs/camera_config.yaml @라즈베리파이팀원1 @라즈베리파이팀원2

# C# WinForms 모니터링 앱 (C# 팀 1~2명)
/csharp_winforms/ @csharp팀원1 @csharp팀원2

# 데이터베이스 스키마 (Flask 팀 또는 공통)
/database/ @flask팀원1 @flask팀원2

# API 계약 및 공통 설정 (전체 팀 리뷰 필요)
/docs/API_Contract.md @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
/configs/server_config.yaml @flask팀원1 @flask팀원2

# 문서 (해당 분야 담당자)
/docs/Flask_Server_Setup.md @flask팀원1
/docs/RaspberryPi_Setup.md @라즈베리파이팀원1
/docs/CSharp_WinForms_Guide.md @csharp팀원1
/docs/Dataset_Guide.md @ai모델팀원1
/docs/Phase1_YOLO_Setup.md @ai모델팀원1

# 설정 파일 템플릿 (전체 팀 알림 필요)
**/.env.example @팀리더 @flask팀원1 @라즈베리파이팀원1 @csharp팀원1

refactor: Reorganize YOLO files into dedicated yolo/ directory
  .gitignore
  PROJECT_STRUCTURE.md
  test_images/bus.jpg
  yolo/README.md
  yolo/tests/PHASE1_TEST_RESULTS.md
  yolo/tests/README.md
  yolo/tests/YOLO11_vs_YOLOv8.md
  yolo/tests/test_yolo_detailed.py
  yolo/tests/test_yolo_inference.py
  yolo/tests/test_yolo_training.py
  yolo/tests/test_yolo_video.py
  yolo/tests/test_yolo_webcam.py
Owners: @팀리더

feat: Add MySQL database schema and user management scripts
  database/README.md
  database/create_users.sql
  database/schema.sql
Owners: @flask팀원1, @flask팀원2

fix: Update MySQL passwords to 1234 for team project convenience
  database/README.md
  database/create_users.sql
Owners: @flask팀원1, @flask팀원2

docs: Add comprehensive team onboarding prompts and guides
  csharp_winforms/GETTING_STARTED.md
  docs/Team_Onboarding_Prompts.md
  raspberry_pi/GETTING_STARTED.md
  src/server/GETTING_STARTED.md
  yolo/GETTING_STARTED.md
Owners: @csharp팀원1, @csharp팀원2, @팀리더, @라즈베리파이팀원1, @라즈베리파이팀원2, @flask팀원1, @flask팀원2

refactor: Reduce robot arm slots from 40 to 6 based on physical constraints
  arduino/robot_arm_controller/box_manager.h
  arduino/robot_arm_controller/config.h
  arduino/robot_arm_controller/robot_arm_controller.ino
  arduino/robot_arm_controller/serial_handler.h
  arduino/robot_arm_controller/servo_control.h
  arduino/test_sketches/test_gripper.ino
  arduino/test_sketches/test_serial_communication.ino
  arduino/test_sketches/test_servo_sweep.ino
  configs/robot_arm_config.yaml
  database/schema.sql
  docs/API_Contract.md
  docs/Arduino_RobotArm_Setup.md
  docs/CSharp_WinForms_Design_Specification.md
  docs/Flask_Server_Setup.md
  docs/MySQL_Database_Design.md
Owners: @팀리더, @flask팀원1, @flask팀원2, @라즈베리파이팀원1, @csharp팀원1

docs: Update project progress checklist and architecture diagram
  docs/PCB_Defect_Detection_Project.md
  docs/Project_Structure.md
  docs/RaspberryPi_Setup.md
  requirements.txt
Owners: @팀리더, @라즈베리파이팀원1

docs: 문서 일관성 개선 및 박스 시스템 구조 업데이트
  docs/CSharp_WinForms_Design_Specification.md
  docs/CSharp_WinForms_Guide.md
  docs/PCB_Defect_Detection_Project.md
Owners: @팀리더, @csharp팀원1

docs: 프로젝트 문서 전반 업데이트 및 개선
  README.md
  docs/Development_Setup.md
  docs/Phase1_YOLO_Setup.md
  docs/Project_Structure.md
  docs/RaspberryPi_Setup.md
  raspberry_pi/GETTING_STARTED.md
Owners: @팀리더, @ai모델팀원1, @라즈베리파이팀원1, @라즈베리파이팀원2

docs: 프로젝트 설계보고서 추가
  docs/프로젝트_설계보고서.md
Owners: @팀리더

refactor: Reorganize project structure from generic src/ to platform-based folders
  docs/Project_Structure.md
  server/GETTING_STARTED.md
  server/README.md
  server/__init__.py
  server/app.py
  server/routes/__init__.py
  src/data/__init__.py
  src/evaluation/__init__.py
  src/inference/__init__.py
  src/models/__init__.py
  src/server/.env.example
  src/server/__init__.py
  src/server/routes/__init__.py
  src/training/__init__.py
  src/utils/__init__.py
  yolo/evaluate_yolo.py
  yolo/train_yolo.py
Owners: @팀리더, @ai모델팀원1, @ai모델팀원2, @flask팀원1, @flask팀원2, @라즈베리파이팀원1, @csharp팀원1

feat: Add complete YOLO v8 Large training guide and scripts
  docs/YOLO_Training_Guide.md
  scripts/download_pcb_dataset.sh
  scripts/train_yolo.sh
Owners: @팀리더

feat: Optimize training strategy 3 - Enhanced augmentation + Batch 24 + Epochs 200
  scripts/train_yolo.sh
  yolo/train_yolo.py
Owners: @팀리더

docs: Update project structure and add OHT system documentation
  .gitignore
  CLAUDE.md
  PROJECT_STRUCTURE.md
  README.md
  configs/camera_config.yaml
  csharp_winforms/.env.example
  csharp_winforms/GETTING_STARTED.md
  data/pcb_defects_roboflow.yaml
  database/README.md
  database/create_users.sql
  docs/API_Contract.md
  docs/CSharp_WinForms_Design_Specification.md
  docs/CSharp_WinForms_Guide.md
  docs/Development_Setup.md
  docs/Flask_Server_Setup.md
  docs/Git_Workflow.md
  docs/MySQL_Database_Design.md
  docs/OHT_System_Setup.md
  docs/PCB_Defect_Detection_Project.md
  docs/Project_Structure.md
  docs/RaspberryPi_Setup.md
  docs/Remote_Network_Setup.md
  docs/Team_Collaboration_Guide.md
  docs/Team_Onboarding_Prompts.md
  docs/프로젝트_설계보고서.md
  raspberry_pi/.env.example
  raspberry_pi/GETTING_STARTED.md
  scripts/setup_env.sh
  scripts/start_server.sh
  server/GETTING_STARTED.md
  server/README.md
  server/app.py
  tests/api/mock_server.py
  tests/api/test_api_contract.py
  yolo/GETTING_STARTED.md
  yolo/README.md
  yolo/tests/YOLO11_vs_YOLOv8.md
Owners: @팀리더, @라즈베리파이팀원1, @라즈베리파이팀원2, @flask팀원1, @csharp팀원1, @csharp팀원2, @flask팀원2

docs: Simplify CSharp WinForms Design Specification
  docs/CSharp_WinForms_Design_Specification.md
Owners: @팀리더

docs: Update document dates to 2025-10-28
  docs/CSharp_WinForms_Guide.md
  docs/Flask_Server_Setup.md
  docs/MySQL_Database_Design.md
  docs/PCB_Defect_Detection_Project.md
  docs/Project_Structure.md
  docs/RaspberryPi_Setup.md
Owners: @csharp팀원1, @flask팀원1, @팀리더, @라즈베리파이팀원1

feat: Implement Raspberry Pi-based OHT control system
  docs/CSharp_WinForms_Design_Specification.md
  docs/OHT_System_Setup.md
  docs/PCB_Defect_Detection_Project.md
  docs/RaspberryPi_OHT_Setup.md
  raspberry_pi/oht_controller.py
  server/box_manager.py
Owners: @팀리더, @라즈베리파이팀원1, @라즈베리파이팀원2

feat: Add rail system to robot arm platform
  arduino/robot_arm_controller/config.h
  arduino/robot_arm_controller/rail_control.h
  arduino/robot_arm_controller/robot_arm_controller.ino
  arduino/robot_arm_controller/serial_handler.h
  docs/Arduino_RobotArm_Setup.md
  docs/PCB_Defect_Detection_Project.md
Owners: @팀리더

chore: Update YOLO training results CSV
  runs/detect/complete_pcb_resumed3/results.csv
Owners: @팀리더

docs: Update project design report with OHT system and add UI design guide
  docs/CSharp_WinForms_UI_Design_Guide.md
  docs/최종프로젝트 윈폼.pdf
  docs/프로젝트_설계보고서.md
  scripts/resume_training.sh
Owners: @팀리더

docs: Update Team_Onboarding_Prompts.md with latest system architecture
  docs/Team_Onboarding_Prompts.md
Owners: @팀리더

docs: Add Arduino depalletizer team section to Team_Onboarding_Prompts.md
  docs/Team_Onboarding_Prompts.md
Owners: @팀리더

초기상태
  .gitignore
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program.sln
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Form1.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Form1.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Form1.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @팀리더, @csharp팀원1, @csharp팀원2

기본구조 설정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Form1.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Auth/LoginView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Auth/LoginView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Auth/LoginView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

로그인폼과 메인대시보드 뼈대구현
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/padlock.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/user.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MonitoringView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj.user
Owners: @csharp팀원1, @csharp팀원2

리소스 삭제
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/padlock.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/user.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
Owners: @csharp팀원1, @csharp팀원2

리소스 삭제
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/padlock.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/user.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
Owners: @csharp팀원1, @csharp팀원2

저장
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
Owners: @csharp팀원1, @csharp팀원2

저장
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
Owners: @csharp팀원1, @csharp팀원2

feat: Add C# DatabaseManager with models and filters
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/AlertFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/InspectionFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/UserLogFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Alert.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/BoxStatus.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Inspection.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/OHTOperation.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Statistics.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/User.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/UserLog.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
Owners: @csharp팀원1, @csharp팀원2

feat: Add C# DatabaseManager with models and filters
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/AlertFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/InspectionFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Filters/UserLogFilter.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Alert.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/BoxStatus.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Inspection.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/OHTOperation.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Statistics.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/User.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/UserLog.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/pcb_monitoring_program.csproj
Owners: @csharp팀원1, @csharp팀원2

리소스복구
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/padlock.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/user.png
Owners: @csharp팀원1, @csharp팀원2

리소스복구
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/padlock.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/user.png
Owners: @csharp팀원1, @csharp팀원2

이미지 추가
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_mail.jpg
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_mail_white.png
Owners: @csharp팀원1, @csharp팀원2

이미지 추가
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_mail.jpg
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_mail_white.png
Owners: @csharp팀원1, @csharp팀원2

로그인 폼 끝
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_background_black.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_btn_background_black.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_btn_background_black1.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_mail_white1.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_unlock_white.png
Owners: @csharp팀원1, @csharp팀원2

로그인 폼 끝
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_background_black.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_btn_background_black.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_btn_background_black1.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_mail_white1.png
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/Login_unlock_white.png
Owners: @csharp팀원1, @csharp팀원2

fix: Fix CREATE INDEX syntax error in schema.sql
  database/schema.sql
Owners: @flask팀원1, @flask팀원2

feat: Add DROP TABLE statements to schema.sql for clean re-execution
  database/schema.sql
Owners: @flask팀원1, @flask팀원2

fix: Remove DROP INDEX statements to avoid MySQL syntax error
  database/schema.sql
Owners: @flask팀원1, @flask팀원2

feat: Add defect_details and box_status_history tables, expand system_config
  database/schema.sql
Owners: @flask팀원1, @flask팀원2
