Repository ArianSung/PCB_Detect_Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @팀리더, @flask팀원1, @flask팀원2, @ai모델팀원1, @ai모델팀원2, @라즈베리파이팀원1, @라즈베리파이팀원2, @csharp팀원1, @csharp팀원2

모니터링 위치 변경
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainBoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainPCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
Owners: @csharp팀원1, @csharp팀원2

모니터링 위치 변경
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainBoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/MainPCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
Owners: @csharp팀원1, @csharp팀원2

docs: v3.0 Product Verification Architecture 문서화 완료
  CLAUDE.md
  README.md
  database/events_v3.0.sql
  database/schema_v3.0_product_verification.sql
  database/triggers_v3.0.sql
  docs/API_Contract.md
  docs/CSharp_WinForms_Design_Specification.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/MySQL_Database_Design.md
  docs/PCB_Defect_Detection_Project.md
Owners: @팀리더, @flask팀원1, @flask팀원2, @라즈베리파이팀원1, @csharp팀원1, @ai모델팀원1

docs: v3.0 Product Verification Architecture 문서화 완료
  CLAUDE.md
  README.md
  database/events_v3.0.sql
  database/schema_v3.0_product_verification.sql
  database/triggers_v3.0.sql
  docs/API_Contract.md
  docs/CSharp_WinForms_Design_Specification.md
  docs/Dataset_Guide.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/MySQL_Database_Design.md
  docs/PCB_Defect_Detection_Project.md
Owners: @팀리더, @flask팀원1, @flask팀원2, @라즈베리파이팀원1, @csharp팀원1, @ai모델팀원1

docs: v3.0 Product Verification Architecture 문서화 완료
  CLAUDE.md
  README.md
  database/events_v3.0.sql
  database/schema_v3.0_product_verification.sql
  database/triggers_v3.0.sql
  docs/API_Contract.md
  docs/CSharp_WinForms_Design_Specification.md
  docs/CSharp_WinForms_Guide.md
  docs/Dataset_Guide.md
  docs/Document_Update_Plan.md
  docs/Dual_Model_Architecture.md
  docs/Flask_Server_Setup.md
  docs/GPU_Memory_Optimization_Guide.md
  docs/MySQL_Database_Design.md
  docs/PCB_Defect_Detection_Project.md
  docs/Phase1_YOLO_Setup.md
  docs/RaspberryPi_Setup.md
  docs/YOLO_Training_Guide.md
Owners: @팀리더, @flask팀원1, @flask팀원2, @라즈베리파이팀원1, @csharp팀원1, @ai모델팀원1

feat(server): PCB 정렬 시스템 개선 및 실시간 외곽선 검출 추가
  configs/camera_config.yaml
  configs/robot_arm_config.yaml
  data/pcb_defects.yaml
  database/README.md
  database/schema.sql
  docs/Logging_Strategy.md
  docs/PCB_Defect_Detection_Project.md
  docs/Project_Structure.md
  docs/RaspberryPi_Setup.md
  docs/Team_Onboarding_Prompts.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
  raspberry_pi/GETTING_STARTED.md
  scripts/download_component_solder_datasets.sh
  scripts/train_solder_model.sh
  scripts/train_solder_model_optimized.sh
  server/app.py
  server/pcb_alignment.py
  server/reference_images/reference_left_20251122_180845_1.jpg
  server/reference_images/reference_left_20251122_180849_2.jpg
  server/reference_images/reference_left_20251122_180852_3.jpg
  server/reference_images/reference_left_20251122_180855_4.jpg
  server/reference_images/reference_left_20251122_180858_5.jpg
  tools/generate_reference_data.py
  tools/server/reference_data/reference_left.json
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2, @팀리더, @flask팀원1, @flask팀원2

feat(server): PCB 정렬 시스템 개선 및 실시간 외곽선 검출 추가
  configs/camera_config.yaml
  configs/robot_arm_config.yaml
  data/pcb_defects.yaml
  database/README.md
  database/schema.sql
  docs/Logging_Strategy.md
  docs/PCB_Defect_Detection_Project.md
  docs/Project_Structure.md
  docs/RaspberryPi_Setup.md
  docs/Team_Onboarding_Prompts.md
  docs/YOLO_Training_Guide.md
  docs/프로젝트_설계보고서.md
  raspberry_pi/GETTING_STARTED.md
  scripts/download_component_solder_datasets.sh
  scripts/train_solder_model.sh
  scripts/train_solder_model_optimized.sh
  server/app.py
  server/pcb_alignment.py
  server/reference_images/reference_left_20251122_180845_1.jpg
  server/reference_images/reference_left_20251122_180849_2.jpg
  server/reference_images/reference_left_20251122_180852_3.jpg
  server/reference_images/reference_left_20251122_180855_4.jpg
  server/reference_images/reference_left_20251122_180858_5.jpg
  tools/generate_reference_data.py
  tools/server/reference_data/reference_left.json
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2, @팀리더, @flask팀원1, @flask팀원2

feat(database): v3.0 → v3.1 스키마 확장 (WinForms 통합)
  database/events_v3.0.sql
  database/schema_v3.0_product_verification.sql
  database/triggers_v3.0.sql
Owners: @flask팀원1, @flask팀원2

feat(database): v3.0 → v3.1 스키마 확장 (WinForms 통합)
  database/events_v3.0.sql
  database/schema_v3.0_product_verification.sql
  database/triggers_v3.0.sql
Owners: @flask팀원1, @flask팀원2

뒷면불량 개새기야
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
Owners: @csharp팀원1, @csharp팀원2

뒷면불량 개새기야
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
Owners: @csharp팀원1, @csharp팀원2

시스템 설정 / 검사 이력 조회 / 로그인 / 메인 수정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Repositories/InspectionHistoryRepository.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.resx
Owners: @csharp팀원1, @csharp팀원2

시스템 설정 / 검사 이력 조회 / 로그인 / 메인 수정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Repositories/InspectionHistoryRepository.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Settings/SettingView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.resx
Owners: @csharp팀원1, @csharp팀원2

feat(models): DatabaseManager 모델 v3.1 스키마 완전 호환 업데이트
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Alert.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/BoxStatus.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/DefectDetail.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Inspection.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/InspectionSummaryDaily.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/InspectionSummaryHourly.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/InspectionSummaryMonthly.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/OHTOperation.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Product.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/ProductComponent.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/User.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/UserLog.cs
Owners: @csharp팀원1, @csharp팀원2

feat(models): DatabaseManager 모델 v3.1 스키마 완전 호환 업데이트
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Alert.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/BoxStatus.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/DefectDetail.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Inspection.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/InspectionSummaryDaily.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/InspectionSummaryHourly.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/InspectionSummaryMonthly.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/OHTOperation.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Product.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/ProductComponent.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/User.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/UserLog.cs
Owners: @csharp팀원1, @csharp팀원2

feat(csharp): DatabaseManager.cs v3.0 스키마 완전 호환 업데이트
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
Owners: @csharp팀원1, @csharp팀원2

feat(csharp): DatabaseManager.cs v3.0 스키마 완전 호환 업데이트
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
Owners: @csharp팀원1, @csharp팀원2

asdf
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
Owners: @csharp팀원1, @csharp팀원2

이름조금바꿈
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
Owners: @csharp팀원1, @csharp팀원2

feat(csharp): Update DashboardView for v3.0 database schema
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Statistics.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
Owners: @csharp팀원1, @csharp팀원2

그래프 깜빡임 해결
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
Owners: @csharp팀원1, @csharp팀원2

통계뷰 데이터베이스 수정 완, 통계 깜빡임 수정 완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
Owners: @csharp팀원1, @csharp팀원2

db완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

모두 커밋
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
Owners: @csharp팀원1, @csharp팀원2

fix(csharp): WinForms 모니터링 이미지 표시 수정 (Flask v3.0 호환)
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

refactor(server): PCB 정렬/테두리 검출 기능 제거 (v3.0 재설계 준비)
  server/app.py
  server/pcb_alignment.py
  server/reference_data/reference_left.json
Owners: @팀리더

feat(server): ROI 영역 최적화 및 YOLO 검출 필터링 추가
  server/app.py
Owners: @팀리더

카메라url수정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

feat(raspberry-pi): USB 시리얼 통신으로 아두이노 제어 기능 추가
  raspberry_pi/.env.example
  raspberry_pi/arduino_serial_handler.py
  raspberry_pi/camera_client.py
  raspberry_pi/requirements.txt
Owners: @팀리더, @flask팀원1, @라즈베리파이팀원1, @csharp팀원1, @라즈베리파이팀원2

feat(raspberry-pi): USB 시리얼 통신으로 아두이노 제어 기능 추가
  raspberry_pi/.env.example
  raspberry_pi/arduino_serial_handler.py
  raspberry_pi/camera_client.py
  raspberry_pi/requirements.txt
Owners: @팀리더, @flask팀원1, @라즈베리파이팀원1, @csharp팀원1, @라즈베리파이팀원2

feat(raspberry_pi): 카메라 클라이언트 고급 제어 기능 추가
  raspberry_pi/camera_client.py
  raspberry_pi/capture_reference_pcb.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(raspberry_pi): 카메라 클라이언트 고급 제어 기능 추가
  raspberry_pi/camera_client.py
  raspberry_pi/capture_reference_pcb.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(server): 기준 부품 배치 저장 기능 추가
  server/app.py
Owners: @팀리더

feat(raspberry-pi): 뒷면 카메라 시리얼 넘버 OCR 클라이언트 추가
  raspberry_pi/back_camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(raspberry-pi): 뒷면 카메라 시리얼 넘버 OCR 클라이언트 추가
  raspberry_pi/back_camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(server): 시리얼 넘버 OCR 검출 기능 추가
  server/app.py
  server/serial_number_detector.py
Owners: @팀리더

feat(server): 디버그 뷰어에 시리얼 넘버 OCR 결과 실시간 표시 기능 추가
  server/app.py
Owners: @팀리더

feat(server): 디버그 뷰어에 OCR 처리 이미지 실시간 표시 기능 추가
  server/app.py
Owners: @팀리더

feat(raspberry-pi): 뒷면 카메라 고급 설정 및 인덱스 변경
  raspberry_pi/back_camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(raspberry-pi): 뒷면 카메라 고급 설정 및 인덱스 변경
  raspberry_pi/back_camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

.github/CODEOWNERS:

# CODEOWNERS - PCB 불량 검사 시스템
# 각 디렉토리별 담당 팀원 지정
# 형식: 경로 @github사용자명1 @github사용자명2

# 전체 프로젝트 리드 (모든 PR 리뷰 필요)
* @팀리더

# Flask 서버 및 추론 엔진 (Flask 팀 2명)
/src/server/ @flask팀원1 @flask팀원2
/src/inference/ @flask팀원1 @flask팀원2

# AI 모델 학습 및 평가 (AI 모델 팀 2명)
/src/models/ @ai모델팀원1 @ai모델팀원2
/src/training/ @ai모델팀원1 @ai모델팀원2
/src/evaluation/ @ai모델팀원1 @ai모델팀원2
/configs/yolo_config.yaml @ai모델팀원1 @ai모델팀원2

# 라즈베리파이 클라이언트 및 GPIO (라즈베리파이 팀 2명)
/raspberry_pi/ @라즈베리파이팀원1 @라즈베리파이팀원2
/configs/camera_config.yaml @라즈베리파이팀원1 @라즈베리파이팀원2

# C# WinForms 모니터링 앱 (C# 팀 1~2명)
/csharp_winforms/ @csharp팀원1 @csharp팀원2

# 데이터베이스 스키마 (Flask 팀 또는 공통)
/database/ @flask팀원1 @flask팀원2

# API 계약 및 공통 설정 (전체 팀 리뷰 필요)
/docs/API_Contract.md @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
/configs/server_config.yaml @flask팀원1 @flask팀원2

# 문서 (해당 분야 담당자)
/docs/Flask_Server_Setup.md @flask팀원1
/docs/RaspberryPi_Setup.md @라즈베리파이팀원1
/docs/CSharp_WinForms_Guide.md @csharp팀원1
/docs/Dataset_Guide.md @ai모델팀원1
/docs/Phase1_YOLO_Setup.md @ai모델팀원1

# 설정 파일 템플릿 (전체 팀 알림 필요)
**/.env.example @팀리더 @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
