Repository ArianSung/PCB_Detect_Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @팀리더, @flask팀원1, @flask팀원2, @ai모델팀원1, @ai모델팀원2, @라즈베리파이팀원1, @라즈베리파이팀원2, @csharp팀원1, @csharp팀원2

revert(raspberry-pi): 카메라 설정을 원래 버전으로 복원
  raspberry_pi/dual_camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(raspberry-pi): 단일 카메라 모드 지원 추가
  raspberry_pi/dual_camera_client.py
Owners: @라즈베리파이팀원1, @라즈베리파이팀원2

feat(debug-viewer): OCR 전처리 완료 이미지 실시간 표시 추가
  server/app.py
  server/templates/debug_viewer.html
Owners: @팀리더

feat(ocr): EasyOCR을 Tesseract OCR로 교체
  server/serial_number_detector.py
Owners: @팀리더

feat(ocr): Tesseract를 PaddleOCR로 교체
  server/serial_number_detector.py
Owners: @팀리더

fix: YOLO 박스 지속 시간, 누락 부품 검출, 500 에러 수정
  server/app.py
Owners: @팀리더

fix: Debug Viewer로 SocketIO 프레임 전송 추가
  server/app.py
Owners: @팀리더

feat(server): 하이브리드 버전 완성 (디버그 뷰어 시각화 + ComponentVerifier 누락 검출)
  server/app.py
  server/serial_number_detector.py
Owners: @팀리더

feat(server): 템플릿 기준 상대좌표 시스템 구현
  server/app.py
  server/component_verification.py
Owners: @팀리더

fix(component-verification): 좌표 우선순위 로직 수정하여 누락 컴포넌트 검출 정상화
  server/component_verification.py
Owners: @팀리더

docs(server): 컨베이어 벨트 스냅샷 시스템 구현 가이드 추가
  server/CONVEYOR_SNAPSHOT_IMPLEMENTATION_GUIDE.md
  server/app.py
  server/templates/debug_viewer.html
Owners: @팀리더

feat(server): 컨베이어 벨트 스냅샷 시스템 구현
  server/app.py
Owners: @팀리더

메인 시작 종료 버튼 추가 및 대시보드 영상 출력 완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/UiStyleHelper.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
Owners: @csharp팀원1, @csharp팀원2

유저
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Repositories/UserRepository.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
Owners: @csharp팀원1, @csharp팀원2

feat(server): predict_dual 함수에 DB 저장 기능 추가
  server/app.py
Owners: @팀리더

feat(conveyor): 서버 측 스냅샷 캡처 시스템 구현
  server/app.py
Owners: @팀리더

feat: 모션 블러 감소 및 실시간 처리 성능 개선
  raspberry_pi/.env.example
  raspberry_pi/dual_camera_client.py
  server/template_based_alignment.py
Owners: @팀리더, @flask팀원1, @라즈베리파이팀원1, @csharp팀원1, @라즈베리파이팀원2

검사이력조회 수정 완
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Repositories/InspectionHistoryRepository.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
Owners: @csharp팀원1, @csharp팀원2

유저 최종 수정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Repositories/UserRepository.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
Owners: @csharp팀원1, @csharp팀원2

feat: 스냅샷 시스템 v2.0 및 DB 저장 조건 강화
  server/app.py
Owners: @팀리더

fix: 레거시 스냅샷 코드 주석 처리
  server/app.py
Owners: @팀리더

fix: 레거시 스냅샷 상태 변수 추가 (호환성)
  server/app.py
Owners: @팀리더

feat: 모션 블러 감소 및 실시간 처리 성능 개선
  .claude/settings.local.json
Owners: @팀리더

fix: DB 저장 로직 수정 (ROI 벗어날 때 저장)
  server/app.py
Owners: @팀리더

검사 이력 조회 디테일까지 완성
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
Owners: @csharp팀원1, @csharp팀원2

feat: 최고 품질 프레임 선택 및 사용 구현
  server/app.py
Owners: @팀리더

fix: 원격 MySQL DB 연결 설정 수정
  server/app.py
Owners: @팀리더

박스사진추가, 대시보드 top7 삭제
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/박스사진.jpg
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.Designer.cs
Owners: @csharp팀원1, @csharp팀원2

feat: 스냅샷 시스템 v3.0 - 최소 오류 기반 프레임 선택
  server/app.py
Owners: @팀리더

fix: ROI 안에서 실시간 배치 처리로 변경
  server/app.py
Owners: @팀리더

feat: 간단한 스냅샷 시스템 - ROI 진입 프레임 저장
  server/app.py
Owners: @팀리더

fix: ROI 안에서 저장된 프레임 계속 사용하도록 수정
  server/app.py
Owners: @팀리더

feat: ROI 벗어나도 저장된 프레임으로 계속 검출 (v3.0)
  .claude/settings.local.json
  server/app.py
Owners: @팀리더

feat: 화면 전송과 검출을 완전히 분리 (v4.0)
  server/app.py
Owners: @팀리더

feat: ROI 진입 시 프레임을 디스크에 저장
  server/app.py
Owners: @팀리더

OHT 수정
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.cs
Owners: @csharp팀원1, @csharp팀원2

feat(csharp-winforms): feature/csharp-app 브랜치의 최신 변경사항 병합
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/DatabaseManager.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Models/Statistics.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Repositories/InspectionHistoryRepository.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/DatabaseManager/Repositories/UserRepository.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/LoginForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/MainForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Program.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Properties/Resources.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Resources/박스사진.jpg
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/UiStyleHelper.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Dashboard/DashboardView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine2.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxLine3.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/BoxMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/OHTMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Monitoring/PCBMonitoringView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryDetailForm.resx
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.Designer.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/InspectionHistoryView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/Statistics/StatisticsView.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_AddUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementForm_EditUser.cs
  csharp_winforms/pcb_monitoring_program/pcb_monitoring_program/Views/UserManagement/UserManagementView.cs
Owners: @csharp팀원1, @csharp팀원2

feat(arduino,raspberry-pi,server): 실제 하드웨어 제어 코드 및 테스트 데이터 생성 스크립트 추가
  arduino/real_code/protocol.ino
  raspberry_pi/OHT_code/ohtcode.py
  server/generate_test_data.py
Owners: @팀리더, @라즈베리파이팀원1, @라즈베리파이팀원2

Create 123.txt
  123.txt
Owners: @팀리더

Delete 123.txt
  123.txt
Owners: @팀리더

.github/CODEOWNERS:

# CODEOWNERS - PCB 불량 검사 시스템
# 각 디렉토리별 담당 팀원 지정
# 형식: 경로 @github사용자명1 @github사용자명2

# 전체 프로젝트 리드 (모든 PR 리뷰 필요)
* @팀리더

# Flask 서버 및 추론 엔진 (Flask 팀 2명)
/src/server/ @flask팀원1 @flask팀원2
/src/inference/ @flask팀원1 @flask팀원2

# AI 모델 학습 및 평가 (AI 모델 팀 2명)
/src/models/ @ai모델팀원1 @ai모델팀원2
/src/training/ @ai모델팀원1 @ai모델팀원2
/src/evaluation/ @ai모델팀원1 @ai모델팀원2
/configs/yolo_config.yaml @ai모델팀원1 @ai모델팀원2

# 라즈베리파이 클라이언트 및 GPIO (라즈베리파이 팀 2명)
/raspberry_pi/ @라즈베리파이팀원1 @라즈베리파이팀원2
/configs/camera_config.yaml @라즈베리파이팀원1 @라즈베리파이팀원2

# C# WinForms 모니터링 앱 (C# 팀 1~2명)
/csharp_winforms/ @csharp팀원1 @csharp팀원2

# 데이터베이스 스키마 (Flask 팀 또는 공통)
/database/ @flask팀원1 @flask팀원2

# API 계약 및 공통 설정 (전체 팀 리뷰 필요)
/docs/API_Contract.md @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
/configs/server_config.yaml @flask팀원1 @flask팀원2

# 문서 (해당 분야 담당자)
/docs/Flask_Server_Setup.md @flask팀원1
/docs/RaspberryPi_Setup.md @라즈베리파이팀원1
/docs/CSharp_WinForms_Guide.md @csharp팀원1
/docs/Dataset_Guide.md @ai모델팀원1
/docs/Phase1_YOLO_Setup.md @ai모델팀원1

# 설정 파일 템플릿 (전체 팀 알림 필요)
**/.env.example @팀리더 @flask팀원1 @라즈베리파이팀원1 @csharp팀원1
